[Desktop Entry]
Encoding=UTF-8
Name=qlamz
Comment[de]=Herunterladen von Musik mit amz Dateien.
Comment=Download music with amz files.
Exec=/usr/bin/qlamz
Icon=29119-amazon
Terminal=false
Type=Application
Categories=AudioVideo;
StartupNotify=true
